@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-yellowa: #ddd53b;
  --color-greener: #0f2c27;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

html,
body {
  overflow-x: hidden;
}

nav ul li a.active {
  color: #ddd53b;
}

.swiper-pagination {
  margin-top: 20px;
  position: relative !important;
}

.swiper-pagination-bullet {
  background-color: #ddd53b !important;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background-color: #ddd53b !important;
  opacity: 1;
}

.HeroSection {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.postimg.cc/SNrMCP1C/img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.AboutHero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.postimg.cc/zvb1kH0R/fleet-trucks-bus-clear-day.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.servicesHero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.postimg.cc/kGZ5BDr6/warehouse-manager-calling-logistics-office-asking-about-inventory-report-african-american-storehouse.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
/* .contactHero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("https://i.postimg.cc/sxFTtB39/A-close-up-of-a-white-fabric-v-flag-waving-in-the-wind-behind-realistic-folds-and-shadows-The-flag.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
} */
.quoteHero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://i.postimg.cc/brZ7VsqP/transport-logistics-concept-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
.scroll {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease-in-out;
}
